<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <meta charset="UTF-8">
    <title>Error</title>
</head>
<body>
<div th:insert="~{parts/navigation::navigation}"></div>
<h1>Noget gik galt ❌</h1>
<div style="margin-bottom: 30px"></div>

    <div th:if="${errors}">
        <p> Der er fundet flere fejl: </p>
        <u1>
            <li th:each="error : ${errors}" th:text="${error}" style="color: red"></li>
        </u1>
    </div>

<div style="margin-bottom: 25px"></div>
<a th:if="${previousUrl}" th:href="${previousUrl}">Gå tilbage &#8617;</a>
<div style="margin-bottom: 25px"></div>
<a th:unless="${previousUrl}" href="/">Gå til forsiden &#8617;</a>
<div th:insert="~{parts/footer :: footer}" style="text-align: center; margin-bottom: 20px;"></div>
</body>
</html>

